.cosplay-details {
  max-width: 1000px;
  margin-inline: auto;
  padding: 24px 16px 48px;
}

.hero {
  display: flex;
  gap: 24px;
  margin-block-end: 8px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.main-img {
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 8px;

  @media (min-width: 601px) {
    max-width: 700px; // max size of main cosplay image
  }
}

.description {
  flex: 1;
  min-width: 0;
  margin: 0;
  line-height: 1.6;
}

.notes {
  --mat-list-list-item-label-text-weight: 700;
  --mat-list-list-item-label-text-color: var(--mat-sys-tertiary);
}

.credits {
  display: flex;
  flex-direction: column;
  //margin-block-start: 24px;

  h3 {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    margin-block-end: 8px;
  }
}

.error {
  color: var(--mat-sys-error);
}
